<!DOCTYPE html>
<html lang="en" ng-app="apiboard">
    <head>
        <title>Stats Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.rawgit.com/Chalarangelo/mini.css/v2.2.0/dist/mini-default.min.css">
        <style>table{margin-right: 20px} body{margin-left: 10vw}</style>
    </head>
    <body ng-controller="main">
    <br><br>
    <!-- 4 Tables to make ui more stable -->
        <table align="left">
        <caption>Total</caption>
    		<tr>
				<th>Method</th>
				<th>Count</th>
				<th>Duration</th>
    		</tr>
    		<tr ng-repeat="(m, v) in resp.total">
                <td>{{m}}</td>
    			<td>{{v.Count}}</td>
    			<td>{{v.Time | number : 2}}</td>
    		</tr>
    	</table> 
        <table align="left">
        <caption>Last Hour</caption>
            <tr>
                <th>Method</th>
                <th>Count</th>
                <th>Duration</th>
            </tr>
            <tr ng-repeat="(m, v) in resp.lasthour">
                <td>{{m}}</td>
                <td>{{v.Count}}</td>
                <td>{{v.Time | number : 2}}</td>
            </tr>
        </table>
        <table align="left">
        <caption>Last Minute</caption>
            <tr>
                <th>Method</th>
                <th>Count</th>
                <th>Duration</th>
            </tr>
            <tr ng-repeat="(m, v) in resp.lastminute">
                <td>{{m}}</td>
                <td>{{v.Count}}</td>
                <td>{{v.Time | number : 2}}</td>
            </tr>
        </table>
         <table align="left">
        <caption>Active</caption>
            <tr>
                <th>Method</th>
                <th>Count</th>
            </tr>
            <tr ng-repeat="(m, v) in resp.active">
                <td>{{m}}</td>
                <td>{{v}}</td>
            </tr>
        </table>
        <script src="https://code.angularjs.org/1.6.4/angular.min.js"></script>
        <script src="script.js"></script>
    </body>
</html>
